* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    padding: 10px;
    padding-inline: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1F2937;
    color: white;
    gap: 25px;
}

.headerlogo {
    margin-right: auto;
    font-size: 24px;
}

.header-link {
    font-size: 16px;
    color: #E5E7EB;
}

.lower-header {
    padding-inline: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;;
    color: white;
    background-color: #1F2937;
    gap: 50px;
}

.lower-header-left {
    width: 50%;
}

.main-text {
    font-size: 48px;
    font-weight: 600;
}

.subtext {
    color: #E5E7EB;
    padding-top: 5px;
    padding-bottom: 15px;
}

.lower-header-right {
    background-color: grey;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: rgb(53, 137, 255);
    color: white;
    height: 40px;
    width: 120px;
    border-color: rgb(86, 156, 255);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}

.information-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    padding-top: 45px;
    padding-bottom: 45px;
}

.show-place {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#box {
    height: 150px;
    width: 150px;
    border: solid #3882F6 4px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text {
    height: 75px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 24px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-inline: 200px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.quote-text {
    font-size: 34px;
    padding-inline: 140px;
    padding-bottom: 24px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.signature {
    margin-left: auto;
    padding-right: 150px;
    font-size: 22px;
    font-weight: 700;
}

.action-call {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-call {
    background-color: #3882F6;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 250px;
    border-radius: 12px;
}

#call-heading {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

#call-text {
    color: rgb(220, 220, 220);
}

.button-2 {
    background-color: rgb(53, 137, 255);
    color: white;
    height: 40px;
    width: 120px;
    border: solid 2px;
    border-color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}

.footer {
    color: rgb(222, 222, 222);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

.footer p {
    padding-top: 30px;
    padding-bottom: 30px;
}
